(custom.domain) {
    {$DOMAIN_NAME} {
        tls {$EMAIL_ADDRESS}
        reverse_proxy nginx:80
    }
}

(siasky.net) {
    siasky.net, *.siasky.net {
        tls {
            dns route53
        }
        reverse_proxy nginx:80
    }
}

(localhost) {
    :443 {
        tls internal {
            on_demand
        }
        reverse_proxy nginx:80
    }
}

import localhost
# import custom.domain
# import siasky.net
