@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-content bg-palette-200 bg-opacity-[.30] h-screen tracking-wide;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-semibold;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans tracking-normal;
  }

  h1 {
    font-size: 3.75rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.875rem;
  }
  h4 {
    font-size: 1.125rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    @apply uppercase text-xs;
  }

  p {
    @apply mt-2;
  }

  hr {
    @apply border-t-palette-200;
  }
}
