@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-content bg-palette-200 bg-opacity-20;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans;
  }
}
