[Unit]
Description=siad-upload

[Service]
Type=simple
WorkingDirectory=/home/user/siad-upload
EnvironmentFile=/home/user/.sia/sia-upload.env
ExecStart=/home/user/go/bin/siad --api-addr "localhost:9970" --rpc-addr ":9971" --host-addr ":9972" --siamux-addr ":9973"
ExecStop=/home/user/go/bin/siac --addr "localhost:9970" stop
Restart=on-failure
SyslogIdentifier=siad-upload

[Install]
WantedBy=default.target
