:root {
  --base-white: #ffffff;
  --base-light: #f0f0f1;
  --base-text: #99999e;
  --base-main: #5a5b6a;
  --base-dark: #19191d;
  --base-black: #000000;
  --primary-light: #ecfdfe;
  --primary-half: #95e1f9;
  --primary-main: #3dacfc;
  --primary-dark: #2e0473;
  --red-strong: #f44336;
  --green-strong: #43a047;
}
