<div class="content">
    {{> header}}
    <div class="container">
        <h2 class="greeting">Welcome back, <span class="user-identifier">{{session.identity.traits.email}}</span>!</h2>
        <h3>This will be your dashboard!</h3>
        <p>Right now there is nothing else here but in future, you will be able to list your pinned files, upgrade to a
            premium tiers and see your usage stats.</p>

        <hr class="divider">

        <p>
            <a href="https://siasky.net">Go back to siasky.net</a>
        </p>
    </div>
</div>